.main_wrapper {
    position: relative;
}

.main_content_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70%;
    color: white;
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-30%, -30%);
}

.main_content_title {
    font-size: 18px;
    margin-bottom: 20px;
}

.main_content_tagline {
    font-size: 32px;
    margin-bottom: 20px;
}

.main_content_text {
    font-size: 14px;
    margin-bottom: 20px;
}

.main_content_wrapper button {
    border: 2px solid #79f7dc;
    border-radius: 25px;
    color: #515453;
    background: #79f7dc;
    font-weight: 700;
    width: 140px;
    padding: 5px 0 5px 0;
    cursor: pointer;
}